.cards-list, .dice-list{
    list-style: none;

    li{
        display: inline-block;
    }
}

.dice-list{
    .dice-list-item {
        font-size: 2rem;
        padding: 10px 16px;
        border: 1px solid #333;
        color: #333;
        margin: 8px;
    }
}

.cards-list{

    .card-list-item {
        display: inline-block;
        width: 8%;
        margin: 0 1%;
        padding: 20px 0 0;
        vertical-align: top;

        &.flipped{
            .card-face{
                margin-top: -20px;
            }
        }

        &.is-not-flippable{
            background: #333;
        }
    }

    .card-face{
        border-radius: 4px;
        border: 1px solid #900;
        color: #900;
        padding: 20px 0;
        text-align: center;
    }
}